#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&lt { quick-tap-ms = <200>; };

&mt { quick-tap-ms = <200>; };

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri-layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    combos {
        compatible = "zmk,combos";

        bootloader {
            bindings = <&bootloader>;
            key-positions = <0 1 10 11>;
            layers = <0>;
            require-prior-idle-ms = <900>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESCAPE               &kp Q  &kp W  &kp E         &kp R         &kp T        &kp Y        &kp U              &kp I          &kp O    &kp P     &kp LBKT
&mt LEFT_CONTROL TAB     &kp A  &kp S  &kp D         &kp F         &kp G        &kp H        &kp J              &kp K          &kp L    &kp SEMI  &kp SQT
&mt LEFT_SHIFT CAPSLOCK  &kp Z  &kp X  &kp C         &kp V         &kp B        &kp N        &kp M              &kp COMMA      &kp DOT  &kp FSLH  &kp RIGHT_BRACKET
                                       &kp LEFT_ALT  &kp LEFT_GUI  &lt 2 ENTER  &lt 1 SPACE  &kp LA(BACKSPACE)  &kp BACKSLASH
            >;
        };

        lower_layer {
            bindings = <
&mt LGUI F1  &kp F2    &kp F3  &kp F4    &kp F5    &kp F6     &kp F7     &kp F8     &kp F9    &kp F10   &kp F11   &kp F12
&kp TILDE    &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT  &kp CARET  &kp AMPS   &kp STAR  &kp LPAR  &kp RPAR  &kp UNDER
&kp GRAVE    &kp N1    &kp N2  &kp N3    &kp N4    &kp N5     &kp N6     &kp N7     &kp N8    &kp N9    &kp N0    &kp EQUAL
                               &trans    &trans    &trans     &trans     &kp MINUS  &kp PLUS
            >;
        };

        rise_layer {
            bindings = <
&kp PRINTSCREEN  &trans  &trans  &trans  &trans  &trans  &trans         &trans          &trans        &trans     &trans  &trans
&trans           &trans  &trans  &trans  &trans  &trans  &kp LEFT       &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT  &trans  &trans
&trans           &trans  &trans  &trans  &trans  &trans  &trans         &trans          &trans        &trans     &trans  &trans
                                 &trans  &trans  &trans  &kp BACKSPACE  &trans          &trans
            >;
        };

        adjust_layer {
            bindings = <
&bootloader  &none         &none         &none         &none         &none         &none         &none         &none         &none         &none         &bootloader
&bt BT_CLR   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0  &bt BT_CLR
&sys_reset   &none         &none         &none         &none         &none         &none         &none         &none         &none         &none         &sys_reset
                                         &trans        &none         &trans        &none         &trans        &trans
            >;
        };
    };
};
